// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_password_container{
	border: solid 1px gray;
	//display: inline-block; 
	display: none; 
	vertical-align: middle;
	background: #fdf8be;
}
